:root {
  --success: green;
  --warn: #9f8115;
  --danger: red;

  --bg: #232323;
  --fg: #feefef;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #feefef;
    --fg: #232323;
    --warn: #e3e312;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--bg);
  color: var(--fg);
}

#textbox {
  padding: 1em;
  font-family: monospace;

  font-size: 1.4em;

  max-width: var(--col-width, 80ch);

  display: block;

  margin: 0 auto;
}

.item-active {
  background-color: var(--fg);
  color: var(--bg);
}

.item-1 {
  background-color: var(--success);
}
.item-12 {
  background-color: var(--warn);
}
.item-2 {
  background-color: var(--danger);
}