:root {
  --success: green;
  --warn: #e3e312;
  --danger: red;

  --bg: #232323;
  --fg: #feefef;
}

html, body {
  height: 100%;
  width: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--bg);
  color: var(--fg);
}

#textbox {
  padding: 1em;
  font-family: monospace;

  font-size: 1.4em;
}

.item-active {
  background-color: var(--fg);
  color: var(--bg);
}

.item-1 {
  background-color: var(--success);
}
.item-2 {
  background-color: var(--danger);
}